<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Menu</title>
</head>

<body>
  <h1>Add Menu</h1>
  <hr>
  <form action="/menus/add" method="post">
    <input type="text" name="name" placeholder="Name"> <br>
    <input type="number" name="price" placeholder="Price"> <br>
    <input type="number" name="stock" placeholder="Stock"> <br>
    <input type="date" name="createdAt" placeholder="Created At"> <br>

    <select name="CategoryId">
      <option value="" selected disabled>-- Select Category --</option>
      <% categories.forEach(el=> { %>
        <option value="<%= el.id %>">
          <%= el.name %>
        </option>
        <% }) %>
    </select> <br>

    <input type="submit" value="SAVE">
  </form>

</body>

</html>