<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New menu</title>
</head>
<body>
  <h1>Add New Menu</h1>

  <form action="/menus/add" method="post">
    <p>
      Name: <br>
      <input type="text" name="name">
    </p>

    <p>
      Category: <br>
      <select name="CategoryId">
        <option value="" selected disabled>-- Select Category --</option>
        <% categories.forEach(el => { %>
          <option value="<%= el.id %>"><%= el.name %></option>
        <% }) %>
      </select>
    </p>

    <p>
      Stock: <br>
      <input type="number" name="stock">
    </p>

    <p>
      Price: <br>
      <input type="number" name="price">
    </p>

    <p>
      Created At: <br>
      <input type="date" name="createdAt">
    </p>

    <p>
      <input type="submit" value="Save">
    </p>
  </form>
</body>
</html>